<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoBackendProjects_SalesExtension::orders" title="Trainee Name Custom Sales Orders" module="MagentoBackendProjects_SalesExtension" sortOrder="90" parent="Magento_Sales::sales" action="customsalesorders/order/index" resource="Trainee_CustomSalesOrders::orders"/>
        <!-- id is must, Convention: <ModuleName>::<permission_id>.Must match a resource ID defined in etc/acl.xml (for permissions).-->
        <!-- title , the name that appears on sidebar-->
        <!-- module, tells magento where this menu item belongs or helps magento know which module registered the menu-->
        <!-- sortOrder, defines the order of the menu item in the sidebar-->
        <!-- parent, defines the parent menu item. If not defined, it will be a top-level menu item-->
        <!-- action, defines the URL to which the menu item points. It is usually in the format <controller>/<action> -->
        <!-- resource, defines the ACL resource that controls the permissions of this menu-->
    </menu>
</config>