<div class="step-content" data-bind="visible: isVisible">
    <fieldset>
        <legend>Contact Information</legend>
        <label>First Name</label>
        <input type="text" data-bind="value: firstname" />
        <label>Last Name</label>
        <input type="text" data-bind="value: lastname" />
        <label>Email</label>
        <input type="email" data-bind="value: email" />
        <label>Mobile Number</label>
        <input type="text" data-bind="value: telephone" />
    </fieldset>
    <button type="button" data-bind="click: navigateNext">Next</button>
</div>
